{% extends 'base.html' %}

{% block content %}

<main class="container pt-3">
    <div class="row">
        <div class="col-sm-8 col-md-8 offset-sm-2 offset-md-2">
            <form method="POST" class="card card-body">
                {% csrf_token %}
                <h1 class="display-4 text-center">Registrar un activo</h1>

                {% if msg%}
                <div class="alert alert-{{type}} alert-dismissible fade show text-center" role="alert">
                    <strong>Aviso: </strong>{{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}

                <div class="mb-3">
                    <label for="cod"><strong>Codigo*</strong></label>
                    <input rows="4" type="text" name="cod" class="form-control" placeholder="2300000" value="{% if activo %}{{ activo.cod }}{% endif %}"></input>
                </div>

                <div class="mb-3">
                    <label for="sn">Numero de serie:</label>
                    <input rows="4" type="text" name="sn" class="form-control" placeholder="Ejemplo: A1B2C3D4..." value="{% if activo %}{{ activo.s_n }}{% endif %}"></input>
                </div>

                <div class="mb-3">
                    <label for="tipo"><strong>Tipo*</strong></label>
                    <select id="dselect-tipo" name="tipo" class="form-select" aria-label="Default select example">
                        {% if activo %}
                            <option value="{{ activo.tipo.id }}" id="tipo_{{ activo.tipo.id }}">{{ activo.tipo.desc }}</option>
                            {% for tipo in tipos %}
                                {% if tipo.id != activo.tipo.id %}
                                    <option value="{{ tipo.id }}" id="tipo_{{ tipo.id }}">{{ tipo.desc }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option selected disabled>----------</option>
                            {% for tipo in tipos %}
                                <option value="{{ tipo.id }}" id="tipo_{{ tipo.id }}">{{ tipo.desc }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                
                <div class="mb-3">
                    <label for="modelo"><strong>Modelo*</strong></label>
                    <select id="dselect-modelo" name="modelo" class="form-select" aria-label="Default select example">
                        {% if activo %}
                            <option value="{{ activo.modelo.id }}" id="modelo_{{ activo.modelo.id }}">{{ activo.modelo.marca }} - {{ activo.modelo.desc }}</option>
                            {% for modelo in modelos %}
                                {% if modelo.id != activo.modelo.id %}
                                    <option value="{{ modelo.id }}" id="modelo_{{ modelo.id }}">{{ modelo.marca }} - {{ modelo.desc }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option selected disabled>----------</option>
                            {% for modelo in modelos %}
                                <option value="{{ modelo.id }}" id="modelo_{{ modelo.id }}">{{ modelo.marca }} - {{ modelo.desc }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                
                
                <div class="mb-3">
                    <label for="old_cod">Codigo antiguo:</label>
                    <input rows="4" type="text" name="old_cod" class="form-control" placeholder="Ejemplo: A1B2C3D4..." value="{% if activo %}{{ activo.old_cod }}{% endif %}"></input>
                </div>

                <div class="mb-3">
                    <label for="area">Lugar</label>
                    <select id="dselect-area" name="area" class="form-select" aria-label="Default select example">
                        {% if activo %}
                            <option value="{{ activo.area.cod_area }}" id="{{ activo.area.cod_area }}">{{ activo.area.descripcion }}</option>
                            {% for area in areas %}
                                {% if area.cod_area != activo.area.cod_area %}
                                    <option value="{{ area.cod_area }}" id="{{ area.cod_area }}">{{ area.descripcion }}</option>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <option selected disabled>----------</option>
                            {% for area in areas %}
                                <option value="{{ area.cod_area }}" id="{{ area.cod_area }}">{{ area.descripcion }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                          

                <div class="mb-3">
                    <label for="responsable">Responsable:</label>
                    <select id="dselect-responsable" name="responsable" class="form-select" aria-label="Default select example">
                        <option selected disabled>----------</option>
                        {% for responsable in responsables %}
                            {% if activo and activo.responsable == responsable %}
                                <option value="{{ responsable.id }}" id="responsable_{{ responsable.id }}" selected>{{ responsable.username }}</option>
                            {% else %}
                                <option value="{{ responsable.id }}" id="responsable_{{ responsable.id }}">{{ responsable.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                
                <div class="mb-3">
                    <label for="comentario">comentario:</label>
                    <textarea rows="4" type="text" name="comentario" class="form-control" placeholder="M&aacute;s detalles?">{% if activo %}{{ activo.comentario }}{% endif %}</textarea>
                </div>                
                
                <button class="btn btn-primary mt-3">
                    {% if activo %}Guardar cambios{% else %}Registrar{% endif %}
                </button>

            </form>
        </div>
    </div>
</main>

<script>
    const tipo = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-tipo'), tipo)
</script>

<script>
    const modelo = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-modelo'), modelo)
</script>

<script>
    const area = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-area'), area)
</script>

<script>
    const responsable = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-responsable'), responsable)
</script>

{% endblock %}