{% extends 'base.html' %}

{% block content %}
<head>
    {# START SEARCH #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
    $(document).ready(function()
        {
            $('#selectJS').select2()
        });
    </script>
    <script>
    $(document).ready(function()
        {
            $('#selectJS2').select2()
        });
    </script>
    {# END SEARCH #}
</head>
<main class="container pt-3">
    <!-- <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/ticket/create" method="POST" class="card card-body">
                <h1 class="display-4 text-center">Abrir un Ticket Nuevo</h1>
                <strong>{{error}}</strong>    
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary mt-3">
                    Enviar
                </button>
            </form>
        </div>
    </div> -->
    <!--New form -->
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body">
                {% csrf_token %}
                <h1 class="display-4 text-center">Abrir un ticket nuevo</h1>
                {% if msg%}
                <div class="alert alert-{{type}} alert-dismissible fade show text-center" role="alert">
                    <strong>Aviso: </strong>{{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
                <div class="mb-3">
                    <label for="asunto">*Asunto:</label>
                    <select type="search" id="selectJS2"  name='asunto' class="form-select" aria-label="Default select example">
                        <option selected disabled>----------</option>
                        {% for opcion in asuntos %}
                        <option value={{opcion.id}} id={{opcion.id}}>{{opcion.desc}}</option>
                        {% endfor %}
                      </select>
                      <p class="text-secondary">Si no encuentras el asunto en la lista, seleciona <strong>Otro</strong>.</p>
                      {# ESTE ES EL MODAL PARA AGREGAR ASUNTOS #}

                      {# END MODAL #}
                </div>
                <!-- <div class="mb-3">
                    <label for="asunto_nuevo">Si no encuentras el asunto en la lista, ingresa uno</label>
                    <input type="text" name="asunto" class="form-control" placeholder="Cuentanos que pas&oacute;?">
                </div> -->
                <div class="mb-3">
                    <label for="descripcion">Descripci&oacute;n:</label>
                    <textarea rows="4" type="text" name="descripcion" class="form-control" placeholder="Nos das m&aacute;s detalles?"></textarea>
                </div>
                <div class="mb-3">
                    <label for="lugar">*Lugar:</label>
                    <!-- <input type="text" name="asunto" class="form-control" placeholder="En donde?"> -->
                    <select id="selectJS"  name='lugar' class="form-select" aria-label="Default select example">
                        <option selected disabled>----------</option>
                        {% for area in areas %}
                        <option value={{area.cod_area}} id={{area.cod_area}}>{{area.descripcion}}</option>
                        {% endfor %}
                      </select>
                </div>
                <button class="btn btn-primary mt-3">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}