{% extends 'base.html' %}

{% block content %}
<head>
    <!-- {# START SEARCH #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
    $(document).ready(function()
        {
            $('#areaS2').select2()
            // $('#asuntoS2').select2()

        });
    </script>
    {# END SEARCH #} -->
</head>
<main class="container pt-3">
    <!-- <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/ticket/create" method="POST" class="card card-body">
                <h1 class="display-4 text-center">Abrir un Ticket Nuevo</h1>
                <strong>{{error}}</strong>    
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary mt-3">
                    Enviar
                </button>
            </form>
        </div>
    </div> -->
    <!--New form -->
    <div class="row">
        <div class="col-sm-8 col-md-4 offset-sm-2 offset-md-4">
            <form method="POST" class="card card-body">
                {% csrf_token %}
                <h1 class="display-4 text-center">Abrir un ticket nuevo</h1>
                {% if msg%}
                <div class="alert alert-{{type}} alert-dismissible fade show text-center" role="alert">
                    <strong>Aviso: </strong>{{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
                <div class="mb-3">
                    <label for="asunto">*Asunto:</label>
                    <select id="dselect-example"  name='asunto' class="form-select" aria-label="Default select example">
                        <option selected disabled>----------</option>
                        {% for opcion in asuntos %}
                        <option value={{opcion.id}} id={{opcion.id}}>{{opcion.desc}}</option>
                        {% endfor %}
                      </select>
                      <p class="text-secondary">Si no encuentras el asunto en la lista, seleciona <strong>Otro</strong>.</p>
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripci&oacute;n:</label>
                    <textarea rows="4" type="text" name="descripcion" class="form-control" placeholder="Nos das m&aacute;s detalles?"></textarea>
                </div>
                <div class="mb-3">
                    <label for="lugar">*Lugar:</label>
                    <select id="dselect-example2"  name='lugar' class="form-select" aria-label="Default select example">
                        <option selected disabled>----------</option>
                        {% for area in areas %}
                        <option value={{area.cod_area}} id={{area.cod_area}}>{{area.descripcion}}</option>
                        {% endfor %}
                      </select>
                </div>
                <button class="btn btn-primary mt-3">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</main>

<script>
    const config = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-example'), config)
</script>
<script>
    const config2 = {
        search: true, // Toggle search feature. Default: false
        creatable: true, // Creatable selection. Default: false
        //clearable: false, // Clearable selection. Default: false
        //maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
        //size: '', // Can be "sm" or "lg". Default ''
    }
        dselect(document.querySelector('#dselect-example2'), config2)
</script>
{% endblock %}