{% extends 'base.html' %}

{% block content %}
<head>
    {# START SEARCH #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
    $(document).ready(function()
        {
            $('#selectArea').select2()
        });
    </script>
    {# END SEARCH #}
</head>

<main class="container">
    <div class="row mt-3">
        <div class="col-md-4">{# COL 1 #}
            <div class="d-flex flex-column">
                <div class="A1">{# CARD A1 #}
                    <div class="card text-white bg-dark mb-3"> 
                        <div class="row g-0">
                          <div class="col">
                            <div class="card-body">
                              <h1 class="card-title display-4">Ticket #{{ticket.id}}</h1>
                              <p class="card-text"><strong>Asunto: </strong>{{ticket.asunto}}</p>
                              <p class="card-text"><strong>Descripci&oacute;n: </strong>{{ticket.descripcion}}</p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>{# CARD A1 #}                

                <div class="A2">{# CARD A2 #}
                    <div class="card text-white bg-dark">
                        <div class=" card-body">{# CARD A2-1 #}
                            <p class="card-text"><strong>Lugar: </strong>
                            <table class="table table-dark table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for area in area_actual%}
                                  <tr>
                                    <form action="{% url 'delete_ticket_to_area' ticket.id area.cod_area %}" method="post">
                                    {% csrf_token %}
                                    <th scope="row" >{{area}}</th>
                                    <th class="text-end"><button class="material-icons btn btn-outline-danger" >delete</button></th>
                                  </tr>
                                </form>
                                  {% endfor %}
                                </tbody>
                              </table>

                              <form method="post" action="{% url 'add_ticket_to_area' ticket.id %}">
                                <div class="d-flex justify-content-between" style="padding: .5rem .5rem;">
                                    <div class="col mx-3">
                                        <!-- <p >Agregar/Cambiar lugar</h1> -->
                                        <select id="selectArea" name='area' class="form-select" aria-label="Default select example">
                                            <option selected disabled="true">----------</option>
                                            {% for area in areas %}
                                            <option value={{area.cod_area}} id='{{area.cod_area}}'>{{area.descripcion}}</option>
                                            {% endfor %}
                                        </select>                                            
                                    </div>
                                    <div>
                                        <button class="material-icons btn btn-outline-success" >add_circle</button>
                                    </div>
                                </div>
                                {% csrf_token %}
                            </form>

                        </div>{# CARD A2-1 #}
                    </div>
                </div>{# CARD A2 #}
            </div>
        </div>{# COL 1 #}
        <div class="col-8">{# COL 2 #}
            <div class="card card-body ">{# CARD B1-B2 #}
                <div class="d-flex justify-content-between">
                    <div><h1 class="display-6">Reporte</h1></div>
                    <div class="d-flex flex-row">
                        <div><button class="material-icons btn btn-outline-success disabled" >save</button></div>
                        <div><button class="material-icons btn btn-outline-primary disabled" >mail</button></div>
                        <div><button class="material-icons btn btn-outline-dark disabled" >print</button></div>
                    </div>
                </div>
                <hr>
                <div>
                    <label for="descripcion">Contexto</label>
                    <textarea rows="4" type="text" name="contexto" class="form-control" placeholder="Describe la situación...">{{ reporte.contexto }}</textarea>
                </div>
                <div>
                    <label for="descripcion">Diagnostico</label>
                    <textarea rows="4" type="text" name="diagnostico" class="form-control" placeholder="¿Que paso?">{{ reporte.diagnostico }}</textarea>
                </div>
                <div>
                    <label for="descripcion">Recomendacion</label>
                    <textarea rows="4" type="text" name="recomendacion" class="form-control" placeholder="¿Que se deberia de hacer?">{{ reporte.recomendacion }}</textarea>
                </div>                 

            </div>{# CARD B1-B2 #}
        </div>{# COL 2 #}
    </div>

    <div class="row mb-3">
        <h1 class="display-6 text-center mt-3"> Historial </h1>
        <hr>

        <div class="col-12 mb-3">
            <form method="post" action="{% url 'add_registro_ticket' ticket.id %}">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            {% csrf_token %}
                            <div>Agregar nuevo historico</div>
                            <div>
                                <label for="comentario">Asunto</label>
                                <select   name='estado' class="form-select" aria-label="Default select example">
                                    <option selected disabled>----------</option>
                                    {% for opcion in estados%}
                                    <option value={{opcion.estado}} id={{opcion.estado}}>{{opcion.desc}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="comentario">Comentario</label>
                                <input type="text" name="comentario" class="form-control" placeholder="Ingresa un comentario" id="comentario">
                            </div>
                            <div><button class="material-icons btn btn-outline-primary" >add_circle</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12">{# COL2-A #}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        {% if user.is_staff %}
                        <th scope="col">Id</th>
                        {% endif %}
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Responsable</th>
                        {% if user.is_staff %}
                        <th scope="col">Comentario</th>
                        <th scope="col"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for registro in registros %}
                    <tr>
                        {% if user.is_staff %}
                        <th scope="row"># {{registro.id}}</th>
                        {% endif %}
                        <td>{{registro.estado.desc}}</td>
                        <td>{{registro.fecha_estado}}</td>
                        <td>{{registro.hora_estado}}</td>
                        <td>{{registro.responsable}}</td>
                        {% if user.is_staff %}
                        <td>{{registro.comment_estado}}</td>
                        {% if registro.estado.desc == 'Ingresado al sistema' %}
                        <div>
                            <form method="post" action="{% url 'delete_registro_to_ticket' ticket.id registro.id %}">
                            {% csrf_token %}
                            <td><button class="material-icons btn btn-outline-danger disabled" >delete</button></td>
                        </form>
                        </div>
                        {% else %}
                        <div>
                            <form method="post" action="{% url 'delete_registro_to_ticket' ticket.id registro.id %}">
                            {% csrf_token %}
                            <td><button class="material-icons btn btn-outline-danger" >delete</button></td>
                        </form>
                        </div>
                        {% endif %}

                        {% endif %}
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>{# COL2-A#}
    </div>
</main>

{% endblock %}

<!-- <form method="post" action="{% url 'add_ticket_to_area' ticket.id %}">
    <div class="d-flex justify-content-between" style="padding: .5rem .5rem;">
        <div class="col mx-3">
            <p >Agregar/Cambiar lugar</h1>
            <select id="selectArea" name='area' class="form-select" aria-label="Default select example">
                <option selected disabled="true">----------</option>
                {% for area in areas %}
                <option value={{area.cod_area}} id='{{area.cod_area}}'>{{area.descripcion}}</option>
                {% endfor %}
            </select>                                            
        </div>
        <div>
            <button class="material-icons btn btn-outline-success" >add_circle</button>
        </div>
    </div>
    {% csrf_token %}
</form> -->